<div class="container-fluid">
    <div class="container-fluid">
        <div class="card overall-card mt-3 p-3">
            <div class="row mb-5">
                <div class="col-md-11">
                    <h5><b>Overview Dashboard</b></h5>
                </div>
                <div class="col-md-1 text-end">
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-4 col-lg-4">
                    <div class="card shadow-sm text-center p-3 position-relative">
                        <span class="badge bg-primary position-absolute" style="top:10px; right:10px;">
                            {{ newBussinessDetails?.policyCount || 0 }}
                        </span>

                        <h6 class="text-muted">New Business</h6>
                        <h4>{{ newBussinessDetails?.currentMonthPremium || 0 | number }}</h4>

                        <small class="text-success" *ngIf="newBussinessDetails?.status == 'High'">
                            ▲ {{ newBussinessDetails?.percentageChange || 0 | number:'1.2-2' }}% vs last month
                        </small>
                        <small class="text-danger" *ngIf="newBussinessDetails?.status == 'Low'">
                            ▼ {{ newBussinessDetails?.percentageChange || 0 | number:'1.2-2' }}% vs last month
                        </small>

                        <i [class]="'pi ' + 'pi-briefcase' + ' position-absolute'"
                            style="bottom:10px; right:10px; font-size: 1.5rem; color:#2d5dfd;">
                        </i>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card shadow-sm text-center p-3 position-relative">
                        <span class="badge bg-primary position-absolute" style="top:10px; right:10px;">
                            {{ renewalDetails?.policyCount || 0 }}
                        </span>

                        <h6 class="text-muted">Renewals</h6>
                        <h4>{{ renewalDetails?.currentMonthPremium || 0 | number }}</h4>

                        <small class="text-success" *ngIf="renewalDetails?.status == 'High'">
                            ▲ {{ renewalDetails?.percentageChange || 0 | number:'1.2-2' }}% vs last month
                        </small>
                        <small class="text-danger" *ngIf="renewalDetails?.status == 'Low'">
                            ▼ {{ renewalDetails?.percentageChange || 0 | number:'1.2-2' }}% vs last month
                        </small>

                        <i [class]="'pi ' + 'pi-sync' + ' position-absolute'"
                            style="bottom:10px; right:10px; font-size: 1.5rem; color:#2d5dfd;">
                        </i>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card shadow-sm text-center p-3 position-relative">
                        <span class="badge bg-primary position-absolute" style="top:10px; right:10px;">
                            {{ claimsDetails?.ClaimPaidCount || 0 }}
                        </span>

                        <h6 class="text-muted">Claims Paid</h6>
                        <h4>{{ claimsDetails?.ClaimPaidAmount
                            || 0 | number }}</h4>

                        <small class="text-success">
                            ▲ {{ claimsDetails?.Precentage || 0 | number:'1.2-2' }}% vs last month
                        </small>

                        <i [class]="'pi ' + 'pi-money-bill' + ' position-absolute'"
                            style="bottom:10px; right:10px; font-size: 1.5rem; color:#2d5dfd;">
                        </i>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card shadow-sm text-center p-3 position-relative">
                        <span class="badge bg-primary position-absolute" style="top:10px; right:10px;">
                            {{ NewAndRenewPolicyPrecent?.policyCount || 0 }}
                        </span>

                        <h6 class="text-muted">Total Portfolio</h6>
                        <h4>{{ NewAndRenewPolicyPrecent?.currentMonthPremium || 0 | number }}</h4>

                        <small class="text-success"
                            *ngIf="NewAndRenewPolicyPrecent?.status == 'High' || NewAndRenewPolicyPrecent?.status == 'No Previous Data'">
                            ▲ {{ NewAndRenewPolicyPrecent?.percentageChange || 0 | number:'1.2-2' }}% vs last month
                        </small>
                        <small class="text-danger" *ngIf="NewAndRenewPolicyPrecent?.status == 'Low'">
                            ▼ {{ NewAndRenewPolicyPrecent?.percentageChange || 0 | number:'1.2-2' }}% vs last month
                        </small>

                        <i [class]="'pi ' + 'pi-wallet' + ' position-absolute'"
                            style="bottom:10px; right:10px; font-size: 1.5rem; color:#2d5dfd;">
                        </i>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card shadow-sm text-center p-3">
                        <h6 class="text-muted">Retention Rate</h6>
                        <h4>{{RetentionRatePrecent?.PolicySumInsured}} %</h4>
                        <small class="text-success">▲ 0% vs last quarter</small>
                        <i [class]="'pi ' + 'pi-wave-pulse' + ' position-absolute'"
                            style="bottom:10px; right:10px; font-size: 1.5rem; color:#2d5dfd;">
                        </i>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                </div>
            </div>
            <div class="row mt-4 g-3">
                <div class="col-md-6">
                    <div class="card shadow-sm p-3">
                        <h6 class="mb-3">Renewal Trends Analysis</h6>
                        <div class="container mt-3">
                            <!-- <div class="d-flex justify-content-center mb-3">
                                <button class="btn btn-gradient mx-1"
                                    (click)="changeTimeframe('yearly')">Yearly</button>
                                <button class="btn btn-gradient mx-1"
                                    (click)="changeTimeframe('monthly')">Monthly</button>
                                <button class="btn btn-gradient mx-1"
                                    (click)="changeTimeframe('weekly')">Weekly</button>
                                <button class="btn btn-gradient mx-1" (click)="changeTimeframe('daily')">Daily</button>
                            </div> -->
                            <div #chartContainer
                                style="width: 100%; height: 450px; background: #f9f9f9; border-radius: 12px; padding: 15px;">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card h-100  w-100 shadow-sm p-3">
                        <h6 class="mb-3">New Bussiness Policy Trends Analysis</h6>
                        <div #chartContainer1
                            style="width: 95%; height: 450px; background: #f9f9f9; border-radius: 12px; padding: 15px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>