<!-- <div> -->
<div class="container-fluid">
    <div class="card overall-card mt-3">
        <div class="row mt-2 mb-2 ms-2 dashboard-header">
            <h6>Renewal Dashboard</h6>
        </div>
        <div class="row">
            <div class="col-md-5 mt-2 ms-2 col-sm-12 dashboard-buttons">
                <div class="row g-3 justify-content-center">
                    <div class="col-12 col-md-3">
                        <div class="top-detail-card card-total text-center">
                            <div class="d-flex align-items-center justify-content-between px-2">
                                <div class="text-start">
                                    <div class="label">Total</div>
                                    <div class="value">{{ totalPolicyCount ?? '0' }}</div>
                                </div>
                                <i class="bi bi-bar-chart-line icon-lg icon-total icon-color"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="top-detail-card card-lost text-center">
                            <div class="d-flex align-items-center justify-content-between px-2">
                                <div class="text-start">
                                    <div class="label">Completed</div>
                                    <div class="value">{{ totalSuccess ?? '0' }}</div>
                                </div>
                                <i class="bi bi-check-circle text-success"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="top-detail-card card-pending text-center">
                            <div class="d-flex align-items-center justify-content-between px-2">
                                <div class="text-start">
                                    <div class="label">Pending</div>
                                    <div class="value">{{ totalPending ?? '0' }}</div>
                                </div>
                                <i class="bi bi-card-checklist icon-lg icon-pending text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="top-detail-card card-lost text-center">
                            <div class="d-flex align-items-center justify-content-between px-2">
                                <div class="text-start">
                                    <div class="label">Lost</div>
                                    <div class="value">{{ totalLost ?? '0' }}</div>
                                </div>
                                <i class="bi bi-graph-down-arrow icon-lg icon-lost text-danger"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-end mt-2 ms-5">
                <p-calendar [(ngModel)]="from_date" dateFormat="dd/mm/yy" [iconDisplay]="'input'"
                    placeholder="From Date" [showIcon]="true" inputId="fromDate"
                    (onSelect)="onDateChange()"></p-calendar> &nbsp; &nbsp;
                <p-calendar [(ngModel)]="to_date" dateFormat="dd/mm/yy" [iconDisplay]="'input'" placeholder="To Date"
                    [showIcon]="true" inputId="toDate" (onSelect)="onDateChange()"></p-calendar>
            </div>
        </div>
        <div class="row mt-2 p-2">
            <div class="col-md-6 col-sm-12  ">
                <div class="card  p-2">
                    <div #chartContainer id="chart-container" style="height: 300px; max-width: 100%;"></div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card  p-2">
                    <p-table #dt2 [value]="ResponseData" dataKey="id" [rows]="10" [rowsPerPageOptions]="[5,10]"
                        [paginator]="true"
                        [globalFilterFields]="['DivisionName', 'Lost', 'Pending', 'TotalPolicyCount']"
                        [tableStyle]="{ 'min-width': '100%' }">

                        <ng-template pTemplate="caption">
                            <div class="row text-end">
                                <p-iconField iconPosition="left" class="ml-auto">
                                    <p-inputIcon>
                                        <i class="pi pi-search"></i>
                                    </p-inputIcon>
                                    <input pInputText type="text" style="height: 40px;" (input)="onGlobalFilter($event)"
                                        placeholder="Search keyword" />
                                </p-iconField>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="DivisionName"
                                    style="width:32%;font-size:12px; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                                    Division Name <p-sortIcon field="DivisionName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Lost"
                                    style="width:15%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                                    Lost <p-sortIcon field="Lost"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Pending"
                                    style="width:18%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                                    Pending <p-sortIcon field="Pending"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Success"
                                    style="width:20%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                                    Completed <p-sortIcon field="Success"></p-sortIcon>
                                </th>
                                <th pSortableColumn="TotalPolicyCount"
                                    style="width:18%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                                    Total <p-sortIcon field="TotalPolicyCount"></p-sortIcon>
                                </th>

                                <th
                                    style="width:15%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                                    View
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-customer>
                            <tr
                                style="border-bottom: 1px solid rgb(172, 172, 172); font-family: 'Poppins', sans-serif !important;">
                                <td style="font-size: 11px !important;">{{ customer.DivisionName }} {{
                                    customer.DivisionCode }}</td>
                                <td style="font-size: 11px !important; text-align: center;">{{ customer.Lost }}</td>
                                <td style="font-size: 11px !important; text-align: center;">{{ customer.Pending }}
                                </td>
                                <td style="font-size: 11px !important; text-align: center;">{{ customer.Success}}
                                </td>

                                <td style="font-size: 11px !important; text-align: center;">{{customer.TotalPolicyCount
                                    }}</td>
                                <td style="font-size: 11px !important;text-align: center;">
                                    <i class="bi bi-eye table-icon-btn"
                                        (click)="getSourcebyCompanyandDivision(customer)"></i>

                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>

    </div>
</div>


<p-dialog header="Broker List" [modal]="true" [(visible)]="visible"
    [style]="{ width: '80%', overflow: 'auto !important' }">


    <!-- <p-table #dt4 [value]="tableList" dataKey="id" [rows]="5" [rowsPerPageOptions]="[5, 10]" [paginator]="true"
        [globalFilterFields]="['PolSrcCode', 'PolSrcName', 'Pending', 'SourceCount','Lost']"
        [tableStyle]="{ 'min-width': '100%' }">

        <ng-template pTemplate="caption">
            <div class="row text-end">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" style="height: 40px;" (input)="onGlobalFilterBroker($event)"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="PolicyNumber"
                    style="width:12%;font-size:12px; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Broker Code <p-sortIcon field="PolicyNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="CustomerName"
                    style="width:21%;font-size:12px;  background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Broker Name <p-sortIcon field="CustomerName"></p-sortIcon>
                </th>
                <th pSortableColumn="InsuredMobile"
                    style="width:12%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Lost <p-sortIcon field="InsuredMobile"></p-sortIcon>
                </th>
                <th pSortableColumn="ProductName"
                    style="width:12%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Pending <p-sortIcon field="ProductName"></p-sortIcon>
                </th>
                <th pSortableColumn="Success"
                    style="width:12%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Completed <p-sortIcon field="Success"></p-sortIcon>
                </th>
                <th pSortableColumn="PolicyEndDate"
                    style="width:9%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Total <p-sortIcon field="PolicyEndDate"></p-sortIcon>
                </th>
                <th
                    style="width:12%;font-size:12px;text-align: center; background-color: rgb(221 221 221);font-family: 'Poppins', sans-serif !important;">
                    Action
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-customer>
            <tr style="border-bottom: 1px solid rgb(172, 172, 172); font-family: 'Poppins', sans-serif !important;">
                <td style="font-size: 11px !important;">{{ customer.PolSrcCode }}</td>
                <td style="font-size: 11px !important;">{{ customer.PolSrcName }}</td>
                <td style="font-size: 11px !important;text-align: center;">{{ customer.Lost }}</td>
                <td style="font-size: 11px !important;text-align: center;">{{ customer.Pending}}</td>
                <td style="font-size: 11px !important;text-align: center;">{{ customer.Success}}</td>
                <td style="font-size: 11px !important;text-align: center;">{{ customer.SourceCount }}</td>
                <td style="font-size: 11px !important;text-align: center;">
                    <i class="bi bi-eye table-icon-btn" (click)="view(customer)"></i>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No data found.</td>
            </tr>
        </ng-template>
    </p-table> -->
    <p-table #dt4 [value]="tableList" dataKey="ProductCode" [rows]="5" [rowsPerPageOptions]="[5, 10]" [paginator]="true"
        [globalFilterFields]="['ProductCode', 'ProductName', 'ProductCount', 'TotalPremium', 'Success', 'Pending', 'Lost']"
        [tableStyle]="{ 'min-width': '100%' }">

        <ng-template pTemplate="caption">
            <div class="row text-end">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" style="height: 40px;" (input)="onGlobalFilterBroker($event)"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ProductCode"
                    style="font-size:12px; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Product Code <p-sortIcon field="ProductCode"></p-sortIcon>
                </th>
                <th pSortableColumn="ProductName"
                    style="font-size:12px; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Product Name <p-sortIcon field="ProductName"></p-sortIcon>
                </th>
                <th pSortableColumn="ProductCount"
                    style="font-size:12px; text-align: center; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Count <p-sortIcon field="ProductCount"></p-sortIcon>
                </th>
                <th pSortableColumn="TotalPremium"
                    style="font-size:12px; text-align: center; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Premium <p-sortIcon field="TotalPremium"></p-sortIcon>
                </th>
                <th pSortableColumn="Success"
                    style="font-size:12px; text-align: center; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Success <p-sortIcon field="Success"></p-sortIcon>
                </th>
                <th pSortableColumn="Pending"
                    style="font-size:12px; text-align: center; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Pending <p-sortIcon field="Pending"></p-sortIcon>
                </th>
                <th pSortableColumn="Lost"
                    style="font-size:12px; text-align: center; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Lost <p-sortIcon field="Lost"></p-sortIcon>
                </th>
                <th
                    style="font-size:12px; text-align: center; background-color: rgb(221 221 221); font-family: 'Poppins', sans-serif;">
                    Action
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
            <tr style="border-bottom: 1px solid rgb(172, 172, 172); font-family: 'Poppins', sans-serif;">
                <td style="font-size: 11px;">{{ row.ProductCode }}</td>
                <td style="font-size: 11px;">{{ row.ProductName }}</td>
                <td style="font-size: 11px; text-align: center;">{{ row.ProductCount }}</td>
                <td style="font-size: 11px; text-align: center;">{{ row.TotalPremium }}</td>
                <td style="font-size: 11px; text-align: center;">{{ row.Success }}</td>
                <td style="font-size: 11px; text-align: center;">{{ row.Pending }}</td>
                <td style="font-size: 11px; text-align: center;">{{ row.Lost }}</td>
                <td style="font-size: 11px; text-align: center;">
                    <i class="bi bi-eye table-icon-btn" (click)="view(row)"></i>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>

</p-dialog>