.homeImg {
    width: 47px;
}

.nav-btn {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 40px !important;
}

.navbar {
    background-color: rgb(0 96 221);
}

.nav,
.navbar {
    position: fixed !important;
    width: 100% !important;
    z-index: 1000 !important;

}



::ng-deep.p-menubar a {
    text-decoration: none !important;
    padding: 1.5rem;
    margin-top: 11px;
}

::ng-deep .p-menubar .p-menuitem-link:hover {
    background-color: #fff !important;
    height: 30px !important;
}

::ng-deep .p-menubar .p-menuitem-link:active {
    background-color: #fff !important;
    height: 30px !important;
}

::ng-deep.p-menubar {
    height: 50px;
    border-radius: 0px;
    max-height: fit-content !important;
    margin-top: 47px !important;
    position: fixed;
    width: 100%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif !important;
    z-index: 1000;
    background: #fff
}

::ng-deep .p-menubar .p-menuitem-link.p-highlight {
    background-color: #007bff !important;
    color: white !important;
}

::ng-deep .p-menubar .p-menuitem-link.active-menu {
    background-color: #007bff !important;
    color: white !important;
}

/* ::ng-deep.p-menubar .p-menuitem-link:hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    background: none;
} */

.p-menuitem-link.selected {
    background-color: #8bb2ff !important;
    color: #fff !important;
    height: 30px !important;
    ;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
}




@media screen and (max-width: 767px) {
    ::ng-deep.p-menubar {
        height: 50px;
        border-radius: 0px;
        max-height: fit-content !important;
        margin-top: 19px !important;
        position: fixed;
        width: 100%;
        font-weight: 600;
        font-family: "Poppins", sans-serif !important;
        z-index: 1000;
        background: #fff;
    }
}

@media (min-width: 768px) {
    ::ng-deep.p-menubar {
        height: 50px;
        border-radius: 0px;
        max-height: fit-content !important;
        margin-top: 47px !important;
        position: fixed;
        width: 100%;
        font-weight: 600;
        font-family: "Poppins", sans-serif !important;
        z-index: 1000;
        background: #fff;
    }
}