.homeImg {
    width: 47px;
}

.nav-btn {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 40px !important;
}

.navbar {
    background-color: rgb(0 96 221);
}

.nav,
.navbar {
    position: fixed !important;
    width: 100% !important;
    z-index: 1000 !important;

}



::ng-deep.p-menubar a {
    text-decoration: none !important;
    padding: 1.5rem;
    margin-top: 11px;
}

::ng-deep .p-menubar .p-menuitem-link:hover {
    background-color: #fff !important;
    height: 30px !important;
}

::ng-deep .p-menubar .p-menuitem-link:active {
    background-color: #fff !important;
    height: 30px !important;
}

::ng-deep.p-menubar {
    height: 50px;
    border-radius: 0px;
    max-height: fit-content !important;
    margin-top: 47px !important;
    position: fixed;
    width: 100%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif !important;
    z-index: 1000;
    background: #fff
}

::ng-deep .p-menubar .p-menuitem-link.p-highlight {
    background-color: #007bff !important;
    color: white !important;
}

::ng-deep .p-menubar .p-menuitem-link.active-menu {
    background-color: #007bff !important;
    color: white !important;
}


.p-menuitem-link.selected {
    background-color: #8bb2ff !important;
    color: #fff !important;
    height: 30px !important;
    ;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
}

::ng-deep .p-menubar .p-submenu-list {
    min-width: 240px !important;
    padding: 0.5rem 0 !important;
    border-radius: 8px !important;
    background-color: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15) !important;
}

/* Submenu item spacing and hover effect */
::ng-deep .p-menubar .p-submenu-list .p-menuitem-link {
    padding: 0.3rem 1rem !important;
    font-size: 14px !important;
    color: #333 !important;
}

::ng-deep .p-menubar .p-submenu-list .p-menuitem-link:hover {
    background-color: #e3f2fd !important;
    color: #007bff !important;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}


@media screen and (max-width: 767px) {
    ::ng-deep.p-menubar {
        height: 50px;
        border-radius: 0px;
        max-height: fit-content !important;
        margin-top: 19px !important;
        position: fixed;
        width: 100%;
        font-weight: 600;
        font-family: "Poppins", sans-serif !important;
        z-index: 1000;
        background: #fff;
    }
}

@media (min-width: 768px) {
    ::ng-deep.p-menubar {
        height: 50px;
        border-radius: 0px;
        max-height: fit-content !important;
        margin-top: 47px !important;
        position: fixed;
        width: 100%;
        font-weight: 600;
        font-family: "Poppins", sans-serif !important;
        z-index: 1000;
        background: #fff;
    }
}

.imgwid {
    width: 118px !important;
    height: 43px !important;
    margin-top: -12px;
}
h5 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin-top: -12px;
}

.text-white {
  color: #fff !important;
}