<nav class="navbar navbar-expand-lg p-2">
  <a class="navbar-brand" href="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <div class="d-flex align-items-center">
          <ng-container *ngIf="InsuranceId==='100046'">
            <a class="logo" href="#" (click)="navigateHome()">
              <img src="./assets/phoenixAlt.png" class="imgwid me-2" />
            </a>
          </ng-container>
          <ng-container *ngIf="InsuranceId==='100047'">
            <a class="logo" href="#" (click)="navigateHome()">
              <img src="./assets/cropped-botwa.png" class="imgwid me-2" />
            </a>
          </ng-container>
          <ng-container *ngIf="InsuranceId==='100048'">
            <a class="logo" href="#" (click)="navigateHome()">
              <img src="./assets/PhoenixMozambique.png" class="imgwid me-2" />
            </a>
          </ng-container>
          <ng-container *ngIf="InsuranceId==='100049'">
            <a class="logo" href="#" (click)="navigateHome()">
              <img src="./assets/cropped-swaziland.png" class="imgwid me-2" />
            </a>
          </ng-container>
          <ng-container *ngIf="InsuranceId==='100050'">
            <a class="logo" href="#" (click)="navigateHome()">
              <img src="./assets/cropped-NAMIBIA-LOGO-1.png" class="imgwid me-2" />
            </a>
          </ng-container>
          <ng-container *ngIf="InsuranceId==='100052'">
            <a class="logo" href="#" (click)="navigateHome()">
              <img src="./assets/aic_logo.jpg" class="imgwid me-2" />
            </a>
          </ng-container>
          <a class="logo" href="#" (click)="navigateHome()" *ngIf="InsuranceId=='100002'">
            <img src="./assets/alliance-img-1.png" class="imgwid me-2" />
          </a>
          <a href="#" (click)="navigateHome()" *ngIf="InsuranceId=='100020'">
            <img src="./assets/FirstAssurance.png" class="imgwid me-2" />
          </a> &nbsp;

          <!-- Heading aligned with logo -->
          <h5 class="mb-0 text-white">INSURANCE RENEWAL</h5>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ms-auto" style="margin-right:7px;gap: 2rem; margin-top: -4px;">
      <li class="nav-item">
        <i (click)="navigateDashboard()" pTooltip="Dashboard" class="pi pi-chart-pie" style="font-size: 2rem;color: #fff;margin-top: 6px !important; cursor: pointer;"></i>
      </li>
      <li class="nav-item">
        <i (click)="navigateHome()" class="pi pi-home" style="font-size: 2rem;color: #fff;margin-top: 6px !important; cursor: pointer;"></i>
      </li>
      <li class="nav-item">
        <ng-container>
          <div class="flex  username-section">
            <p-overlayPanel #op>
              <p-button *ngFor="let userOption of userOptions" [icon]="userOption.icon" [label]="userOption.label"
                styleClass="customButton" (click)="userOption.command()" [style]="{'width':'15rem'}"></p-button>
            </p-overlayPanel>
            <p-button (click)="op.toggle($event)" [label]="loginId">&nbsp;<i class="pi pi-user"
                style="font-size: 1rem;margin-right: 5px;"></i>
            </p-button>
          </div>&nbsp;
        </ng-container>
      </li>
    </ul>
  </div>
</nav>
<p-menubar [model]="items">
  <ng-template let-item pTemplate="item">
    <a class="p-menuitem-link" [ngClass]="{'selected': activeItem === item.label}">
      <i [class]="item.icon"></i> &nbsp; &nbsp;
      <span class="p-menuitem-text">{{ item.label }}</span> &nbsp; &nbsp;
      <i *ngIf="item.items" class="pi pi-angle-down ml-2"></i>
    </a>
  </ng-template>
</p-menubar>