<div class="topbar bg-dark text-white py-2 px-3 px-lg-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div
                    class="d-flex justify-content-center justify-content-lg-start gap-3 align-items-center topbar-info flex-wrap">
                    <small class="d-flex align-items-center">
                        <i class="fas fa-phone me-2"></i> +012 345 6789
                    </small>
                    <small class="separator d-none d-sm-inline">|</small>
                    <small class="d-flex align-items-center">
                        <i class="fas fa-envelope me-2"></i> info&#64;example.com
                    </small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-flex justify-content-center justify-content-lg-end gap-3 flex-wrap">
                    <a class="text-white social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="text-white social-icon" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="text-white social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="text-white social-icon" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="text-white social-icon" href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="container-fluid">
        <div class="card overall-card mt-3 p-3">
            <div class="row mt-2 mb-2 ms-2 dashboard-header">
                <div class="col-md-6 mt-3">
                    <h6 style="font-weight: bold;font-size: 1.1rem;">Your Policy Details</h6>
                </div>
                <div class="col-md-6 text-end">
                </div>
            </div>
            <div class="col-md-12">
                <div *ngFor="let policy of policyData" class="mb-4">
                    <h6 class="fw-bold">Policy Number: {{ policy.PolicyNumber }}</h6>

                    <div class="row">
                        <div class="col-md-6" *ngFor="let detail of policy.Risk">
                            <div *ngIf="detail.RiskDetailsData" class="mb-2">
                                <div class="d-flex">
                                    <strong class="me-2" style="min-width: 150px;">{{ detail.RiskDetails }}:</strong>
                                    <span>{{ detail.RiskDetailsData }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>