<!-- <app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-2 col-md-2 router-container">

        <app-side-menu></app-side-menu>

    </div>
    <div class="col-10 col-md-10">
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<app-nav-bar (toggleSidebar)="showSidebar = !showSidebar"></app-nav-bar>

<div class="row">
    <div class="col-2 col-md-2 router-container" *ngIf="showSidebar">
        <app-side-menu></app-side-menu>
    </div>
    <!-- <div class="container"> -->
        <div [class.col-md-10]="showSidebar" [class.col-md-12]="!showSidebar" class="col-md-10">
            <div class="router-container">
                <router-outlet></router-outlet>
            </div>
        <!-- </div> -->
    </div>
</div>
<ng-container *ngIf="loading$ | async">
    <div class="overlay"></div>
    <div class='visionloading'>
        <div class="loader-box">
            <div class="spinner-loader-gif">
                <!-- <img src='./assets/images/loader-1.gif'> -->
                <img src='../assets/loader-1.gif'>
            </div>
            <div class="spinner-loader-img">
                <div class='img-tag'></div>
            </div>
        </div>
    </div>
</ng-container>