<div class="container-fluid">
    <div class="card overall-card mt-3">
        <div *ngIf="this.userDetails.UserType != 'Broker'" class="mt-2 p-2">
            <div class="row">
                <div class="col-md-11">

                </div>
                <div class="col-md-1 text-end">
                    <p-button styleClass="view-cutomer-btn" (click)="navigateOprationHeadDasborad()" label="Back"
                        severity="info"></p-button>

                </div>
            </div>

        </div>
        <div class="row container mt-2 mb-2 ms-2 dashboard-header">
            <div class="col-md-6 text-start">
                <h6> <i class="bi bi-boxes"></i> &nbsp; &nbsp;Products</h6>
            </div>
            <div *ngIf="PolSrcName" class="col-md-6 text-end">
                <h6> <i class="bi bi-building"></i> &nbsp; &nbsp;{{PolSrcName}}</h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-5 col-sm-12 ms-2">

                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="top-detail-card">
                            <div class="row">
                                <div class="col-9 text-start">
                                    <div>Total</div>
                                    <div><b>{{(totalPolicyCount !== null && totalPolicyCount !== undefined) ?
                                            totalPolicyCount.toString() : '0'}}</b></div>
                                </div>
                                <div class="col-3 text-end">
                                    <i class="icon-color bi bi-bar-chart-line"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="top-detail-card">
                            <div class="row">
                                <div class="col-9 text-start">
                                    <div>Total Premium</div>
                                    <div><b>{{ totalPremium ?? '0' | numberComma }}</b></div>
                                </div>
                                <div class="col-3 text-end">
                                    <!-- <i class="icon-color bi bi-bar-chart-line"></i> -->
                                    <i class="bi bi-cash text-success"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="col-md-4 text-center">
                        <div class="top-detail-card">
                           
                            <div class="row">
                                <div class="col-9 text-start">
                                    <div>Pending</div>
                                    <div><b>{{(totalPending !== null && totalPending !== undefined) ?
                                            totalPending.toString() :
                                            '0'}}</b></div>
                                </div>
                                <div class="col-3 text-end">
                                    <i class="text-warning bi-card-checklist "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="top-detail-card">
                            <div class="row">
                                <div class="col-9 text-start">
                                    <div>Lost</div>
                                    <div><b>{{(totalLost !== null && totalLost !== undefined) ? totalLost.toString() :
                                            '0'}}</b></div>
                                </div>
                                <div class="col-3 text-end">
                                    <i class="text-danger bi bi-graph-down-arrow"></i>
                                </div>
                            </div>
                           
                        </div>
                    </div> -->
                </div>
            </div>

            <div *ngIf="this.userDetails.UserType != 'Issuer'" class="col-md-6 col-sm-12 text-end ms-5">
                <p-calendar [(ngModel)]="from_date" dateFormat="dd/mm/yy" [iconDisplay]="'input'"
                    placeholder="From Date" [showIcon]="true" inputId="fromDate"
                    (onSelect)="onDateChange()"></p-calendar> &nbsp; &nbsp;
                <p-calendar [(ngModel)]="to_date" dateFormat="dd/mm/yy" [iconDisplay]="'input'" placeholder="To Date"
                    [showIcon]="true" inputId="toDate" (onSelect)="onDateChange()"></p-calendar>
            </div>
        </div>

        <!-- <div *ngIf="dashborad_selectted_division || overall_product_list.length !=0" class="row mb-3">
            <div class="col-md-3 col-sm-12" *ngFor="let data of overall_product_list">
                <div class="card product-card p-3">
                    <div class="row">
                        <div class="col-md-8 text-start product-text-size">
                            <b><Small><i class="bi bi-boxes"></i>&nbsp;{{data.ProductName}}</Small></b>

                        </div>

                        <div class="col-md-4">
                            <p-tag styleClass="premium-tag" [value]="data.TotalPremium | numberComma"
                                [severity]="getSeverity(data.TotalPremium)" />
                        </div>
                    </div>
                    <div class="row mt-2">

                    </div>
                    <div class="row mt-2">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <p-progressBar [value]="getProgress(data)" [showValue]="true">
                                <ng-template pTemplate="content" let-value>
                                    <span class="text-size">{{ value | number:'1.0-0' }}% Pending</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row m-2">
                        <div class="col-2"></div>
                        <div class="col-4 text-start">
                            <p-badge [value]="data.Pending" severity="warning" />
                        </div>
                        <div class="col-4 text-end">
                            <p-badge [value]="data.ProductCount" />
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <p-button styleClass="view-cutomer-btn" (click)="ProductBasedCustomers(data)" label="View"
                                severity="secondary"></p-button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div *ngIf="dashborad_selectted_division || overall_product_list.length != 0" class="row mb-3">
            <div class="col-md-3 col-sm-12" *ngFor="let data of overall_product_list">
                <div class="card product-card p-3">

                    <div class="row">
                        <div class="col-12 text-center product-text-size">
                            <b><i class="bi bi-boxes"></i> {{ data.ProductName }}</b>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-4 text-start">
                            <small><span>Count: <b>{{ data.ProductCount }}</b></span></small>
                        </div>
                        <div class="col-8 text-end">
                            <small> <span>Premium: <b>₹{{ data.TotalPremium | number:'1.2-2' }}</b></span></small>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col-6 text-center">
                            <p-button styleClass="view-cutomer-btn" (click)="ProductBasedCustomers(data)" label="View"
                                severity="secondary">
                            </p-button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div> -->

        <div *ngIf="dashborad_selectted_division || overall_product_list.length != 0" class="row mb-3">
            <div class="col-md-3 col-sm-4 mb-4" *ngFor="let data of overall_product_list">
                <div class="card product-card p-3 animate-card">
                    <div class="text-center mb-3">
                        <h6 class="product-title">
                            <i class="bi bi-boxes icon-color me-2"></i>{{ data.ProductName }}
                        </h6>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <span class="product-label">Count:</span>
                        <span class="product-value">{{ data.ProductCount }}</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <span class="product-label">Premium:</span>
                        <span class="product-value">{{ data.TotalPremium | number: '1.2-2' }}</span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p-button styleClass="view-customer-btn"  (click)="ProductBasedCustomers(data)" label="View"
                            severity="secondary">
                        </p-button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>